<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspirational Quotes</title>
    <link rel="stylesheet" href="style.css">
    <script src="client.js"></script>
</head>
<body>
    <h2>Inspirational Quotes</h2>

    <!-- <a href="about.html">about me</a> -->
    <!-- <button id ="click">click me testing</button> -->
<div class="rect">
        <form id="quote-form">
        <input type="text" placeholder="Quote" name="AddQuote" id="text">
        <input type="text" placeholder="Author" name="AddAuthor" id="from">
        <button>Add the Quote</button>
      </form>
    </div>

      <div>
        <ul id="quoteList">
        </ul>
    </div>
   
 

</body>
</html>